@charset "utf-8";

/* CSS Document */
h {
  font-size: 90px;
}

.back_button {
  width: 150px;
  height: 25px;
  margin: 2px;
}

#not_found {
  display: flex;
  justify-content: center;
  align-content: center;
}

#back_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}