@charset "utf-8";
/* CSS Document */
html,body{hieght: 100%; padding: 0; margin: 0;}
.root{height: 100%; display: flex; flex-direction: column;}

.header{background-color: #2D2F33; height: 60px; display: flex; align-items: center;}
.header_bar{flex-grow: 1;}
.main{color: #FCFCFC;align-items: center;width: auto; font-size: 25px;}

.root-page{background-color: #F0F1F5; flex-grow: 1;}
.card{padding: 20px 20px; background-color: #FFFFFF}
.recharge{display: flex; flex-direction: column}
.light{flex-grow: 1; display: flex; justify-content: center;}
.air{flex-grow: 1; display: flex; justify-content: center;}

.text{
	padding: 1% 1%;
	font-size: 15px;
	font-style: normal;
}
.button{
	padding: 1% 1%;
	font-size: 17px;
}