@charset "utf-8";
/* CSS Document */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
/*上面的深色工具条*/
.header {
    background-color: #1F2233;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    color: #FFFFFF;
    font-size: 25px;
}
/*主要页面*/
.root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.root_page {
    background-color: #F7F8FC;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-left: 12%;
    padding-right: 12%;
}
/*页面内主体*/
/*.page 垂直弹性布局，水平居中*/
.page {
    background-color: #FFFFFF;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.card {
    background-color: #FFFFFF;
    width: 75%;
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px;
    border-bottom: 1px dashed black;
}
/*底部*/
.footer {
    background-color: #2D2F33;
    flex-shrink: 0;
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check {
    color: #999999;
}
/*将同一个<div><p>...</p></div>中的<div>块弹性的放入一行*/
.a_row {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .root_page {
        background-color: #FFFFFF;
    }
    .card {
        width: 100%;
    }
}