@charset "utf-8";
/* CSS Document */
.web_button {
    width: 120px;
    height: 30px;
    margin: 2px;
}
.notice {
    color: #999999;
}
#recharge {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#readme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#web_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
#web_list_left, #web_list_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#light, #air {
    width: 120%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 2px 0px;
}
#text_light, #text_air {
    width: 160px;
    height: 45px;
    padding-left: 8px;
    font-size: 16px;
    margin: 1px;
}
#lightRecharge, #airRecharge {
    width: 90px;
    height: 50px;
    font-size: 16px;
    margin: 1px;
}
#goLight, #goAir {
    width: 70px;
    height: 50px;
    font-size: 16px;
    margin: 1px;
}