<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gotcha: 伤害计算</title>
<link rel="icon" href="/Gotcha/resources/image/Gotcha.svg">
<style type="text/css">
@import"/Gotcha/resources/css/style.css";
</style>
<style type="text/css">
@import"/Gotcha/resources/css/calcDamage.css";
</style>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>
</head>
<body>
<div class="header">
    <div class="main">Gotcha：伤害计算</div>
</div>
<div class="root">
    <div class="root_page">
        <div id="Gdate" class="page">
            <div id="main" class="card"> <!--在此处div内写内容-->
                <h3>主要属性：</h3>
                <div style="padding-right: 25px;">
                    <p>攻击力：
                        <input v-model.number="ATK" placeholder="0" oninput="value=value.replace(/[^\d]/g,'')" class="text"/>
                    </p>
                </div>
                <div>
                    <p>倍率：
                        <input type="text" v-model.number="Rate_2" placeholder="0" oninput="notMath(event)"/>
                        %</p>
                </div>
                <div>
                    <p>属性加成：
                        <input type="text" v-model.number="DMG_Bonus_2" placeholder="0" oninput="notMath(event)"/>
                        %</p>
                </div>
                <div class="a_row">
                    <p>
                    <div style="padding-right: 25px;">暴击率：
                        <input type="text" v-model.number="CRIT_Rate_2" placeholder="0" oninput="notMath(event)" max="100"/>
                        %</div>
                    <div>暴击伤害：
                        <input type="text" v-model.number="CRIT_DMG_2" placeholder="0" oninput="notMath(event)"/>
                        %</div>
                    </p>
                </div>
            </div>
            <div id="EM" class="card">
                <h3>反应相关：</h3>
                <div class="a_row">
                    <p>
                    <div style="padding-right: 25px;">元素反应：
                        <select v-model="ER">
                            <option v-for="option in options" :value="option.value"> {{ option.text }} </option>
                        </select>
                    </div>
                    <div> 精通加成：
                        <input type="text" v-model.number="EM_Bonus_2" placeholder="0" oninput="notMath(event)"/>
                        % </div>
                    </p>
                </div>
            </div>
            <div class="card" id="card_calc">
                <p>期望伤害是: </p>
                <!--  如果暴击<=0  -->
                <p v-if="CRIT_Rate_2 <= 0">{{ Math.floor(ATK*ER*EM_Bonus*z_other) }}</p>
                <!--  如果0<暴击<=100  -->
                <p v-else-if="CRIT_Rate_2 <= 100">{{ Math.floor(ATK*(1+CRIT_Rate*CRIT_DMG)*ER*EM_Bonus*z_other) }}</p>
                <!--  如果暴击>100  -->
                <p v-else>{{ Math.floor(ATK*(1+CRIT_DMG)*ER*EM_Bonus*z_other) }}</p>
                <p>（非暴击伤害是: {{ Math.floor(ATK*ER*EM_Bonus*z_other) }}；暴击伤害是: {{ Math.floor(ATK*(1+CRIT_DMG)*ER*EM_Bonus*z_other) }}）</p>
            </div>
            <div id="other" class="card">
                <h3>其他属性：</h3>
                <div class="a_row">
                    <p>
                    <div style="padding-right: 25px;"> 人物等级：
                        <input v-model.number="P" placeholder="0" oninput="value=value.replace(/[^\d]/g,'')" class="text"/>
                    </div>
                    <div>怪物等级：
                        <input v-model.number="M" placeholder="0" oninput="value=value.replace(/[^\d]/g,'')" class="text"/>
                    </div>
                    </p>
                </div>
                <div>
                    <p> 怪物抗性：
                        <input type="text" v-model.number="M_RES_2" placeholder="0" oninput="notMath(event)"/>
                        % </p>
                </div>
            </div>
            <div class="card">
                <p>计算过程：</p>
                <p>一、攻击区：攻击值</p>
                <p>二、倍率区：倍率</p>
                <p>三、增伤区：1+属性加成</p>
                <p>四、暴伤区：(1+暴击率×暴击伤害)</p>
                <p>五、反应区：元素反应×(1+精通加成)</p>
                <p>六、防御区：((人物等级+100)/(人物等级+怪物等级+200))</p>
                <p>七、抗性区：(1-怪物抗性)</p>
                <p>伤害 = 所有区域的乘积</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id="content" class="check"></div>
    </div>
</div>
<script type="text/javascript" src="/Gotcha/resources/js/text.js"></script> 
<script>
const Gdate = {
    data() {
        return {
            Rate_2: 100,
            ATK: 2000,
            CRIT_Rate_2: 50,
            CRIT_DMG_2: 100,
            DMG_Bonus_2: 0,
            EM_Bonus_2: 0,
            P: 90,
            M: 86,
            M_RES_2: 10,
            ER: 1.0,
            options: [
                { text: '无', value: 1.0 },
                { text: '火->水', value: 1.5 },
                { text: '火->冰', value: 2.0 },
                { text: '水->火', value: 2.0 },
                { text: '冰->火', value: 1.5 }
        ]
        }
    },
    computed: {
        Rate: function(){return this.Rate_2/100},// 倍率
        CRIT_Rate: function(){return this.CRIT_Rate_2/100},// 暴击率
        CRIT_DMG: function(){return this.CRIT_DMG_2/100},// 暴击伤害
        DMG_Bonus: function(){return 1+this.DMG_Bonus_2/100},// 1+属性加成
        EM_Bonus: function(){return 1+this.EM_Bonus_2/100},// 1+精通加成
        M_RES: function(){return this.M_RES_2/100},// 怪物抗性
        // 攻击、暴击率、暴击伤害
        // 元素倍率、精通加成
        // 倍率、伤害加成、等级、抗性
        z_other: function(){
            return this.Rate*this.DMG_Bonus*((this.P+100)/(this.P+this.M+200))*(1-this.M_RES)
        },
    },
}
Vue.createApp(Gdate).mount('#Gdate')
</script> 
<script>
        fetch('/Gotcha/resources/public/version.txt')
            .then(response => response.text())
            .then(data => {
                document.getElementById('content').innerText = data;
            })
            .catch(error => console.error('Error:', error));
</script>
</body>
</html>